@use 'sass:math';
@use 'sass:color';
@use '@/styles/variables' as *;

$declaration-height: 45%;
$declaration-width: 40%;

$solid-color: mix($gray, $black, 30%);
$declaration-base-bgc: rgba($solid-color, 0.8);
$transition: all 0.15s ease-in-out;

.declaration {
  -webkit-text-stroke: 0;
  height: $declaration-height;
  width: $declaration-width;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 .1rem .5rem rgba(0, 0, 0, 0.5);
  background:
    radial-gradient(circle at 50% 90%, transparent 85%, rgba(0, 0, 0, 0.6) 100%),
    $declaration-base-bgc;

  .declarationContentWrapper {
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    padding: $gap*1.5;
    position: relative;

    pre {
      font-family: var(--font-noto-sans);
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }

    * {
      margin-bottom: $gap;
    }
  }

  span {
    display: flex;
    width: 100%;

    &.declarationBtn {
      $pd: 0.6rem;
      $lh-height: 0.9rem;

      font-size: 0.6rem;
      padding: $pd;
      line-height: $lh-height;
      background: $solid-color;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;

      &::before {
        $bg-width: 13*$gap;

        content: '';
        position: absolute;
        width: $bg-width;
        height: $bg-width;
        background: $img-url no-repeat center center;
        background-size: contain;
        // opacity: .3;
        filter: brightness(3);
        // background-color: #fff;
        right: 0;
        bottom: 2*$pd+$lh-height;
        cursor: default;
        pointer-events: none;
        z-index: -1;
      }

      &:active {
        color: $active-color;
      }
    }
  }
}


$acmBGC: color-mix(in srgb, $gray 60%, $black);

.accountManagement {
  min-height: $declaration-height;
  width: $declaration-width;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 .1rem .5rem rgba(0, 0, 0, 0.5);
  border: 1.5px solid color-mix(in srgb, $white 60%, $black);
  background-color: $acmBGC;

  .accountManagementTitle {
    font-size: .8rem;
    font-family: var(--font-orbitron);
    font-weight: 400;
    padding: $gap $gap*1.5;
    margin-bottom: $gap;
    border-bottom: 1.5px solid rgba($color: $gray, $alpha: .8);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .accountManagementFooter {
    font-size: .8rem;
    font-family: var(--font-orbitron);
    font-weight: 400;
    padding: $gap*0.5 $gap*0.8;
    border-top: 1.5px solid rgba($color: $gray, $alpha: .8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;

    .loginBtn {
      width: 6.5rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    margin: $gap;
    margin-top: 0;
    border: $button-border;
    border-color: color-mix(in srgb, $white 30%, $black);
    border-width: 1.8px;
    gap: $gap;

    .inputGroup {
      display: flex;
      flex-direction: column;
      gap: $gap;
      padding: $gap*1.2;
      padding-top: 0;
    }
  }
}

.accountManagementContent {
  z-index: 9999;
  border: none;
  padding: 0;
  background-color: $acmBGC;
  border-radius: 0;
}

.account {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: $gap 0;
  margin: 0 $gap*1.5;
  border: 1.5px solid color-mix(in srgb, $white 60%, $black);
  border-radius: 0;
  background-color: rgba($color: $gray, $alpha: .4);
  cursor: pointer;
  color: $white;
  gap: 0;

  &:hover {
    background-color: rgba($color: $white, $alpha: 0.2);
  }

  .desc {
    display: flex;
    align-items: center;
    text-align: left;

    &::before {
      content: '';
      display: inline-block;
      border-radius: 50%;
    }
  }
}

.avatar {
  display: inline-block;
  text-align: center;
  background-color: $gray;
  border-radius: 50%;
  font-family: var(--font-batang);
  font-weight: 700;
  margin: 0 $gap;
  color: $white;

  $ratio: 0.55;

  &.small {
    $small-size: 1.5rem;

    font-size: $small-size * $ratio;
    line-height: $small-size;
    width: $small-size;
    height: $small-size;
  }

  &.big {
    $big-size: 2rem;
    border-width: 1.5px;
    border-color: color-mix(in srgb, $white 60%, $black);
    font-size: $big-size * $ratio;
    line-height: $big-size;
    width: $big-size;
    height: $big-size;
  }
}