@import '@/styles/_variables.scss';

$base-height: 1080px;
$nav-height: 129px;

$nav-height-ratio: $nav-height / $base-height;
$nav-height: $nav-height-ratio * 100vh;

$gap: $nav-height-ratio*$nav-height*1.5;

.nav {
  padding: $gap*1.5 $gap;
  width: 100%;
  height: $nav-height;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap {
  column-gap: $gap;
}

.copyright {
  font-size: $gap*0.7;
  font-weight: 600;
  white-space: nowrap;
  line-height: $gap*0.7;
}