@use 'sass:math';

$white: #e4e4e4;
$black: #000;
$gray: #3f3f3f;


// 按钮相关
$button-border: $white 1px solid;

// 加载组件相关
$AH-ratio: math.div(84, 538);
$AH: $AH-ratio * 100vh;
$AH-fontsize: math.div($AH, 6); // 字体大小, 很重要, 全局为 $AH-fontsize / 0.8

// 登录页相关
$base-height: 1080px;
$nav-height: 129px;
$nav-height-ratio: math.div($nav-height, $base-height);
$nav-height: $nav-height-ratio * 100vh;
$img-url: url('/login_dark.png');

// 全局调用
$gap: $nav-height-ratio*$nav-height*1.5;
$active-color: color-mix(in srgb, $gray 20%, $white);