@use 'sass:math';
@use "variables" as *;
@use "@/components/arks/loading/loading.module.scss";

html {
  font-size: math.div($AH-fontsize, 0.8);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: $white;
  // -webkit-text-stroke: 0.01rem $black; /*  字体描边 */
}

::-webkit-scrollbar {
  display: none;
}

.iconBtn {
  cursor: pointer;
  display: block;
  box-sizing: content-box;
  border: $button-border;
  border-width: 1px;
  padding: $gap * 0.08;
  background-color: rgba($color: $white, $alpha: 0.1);

  &:hover {
    background-color: rgba($color: $white, $alpha: 0.2);
  }

  &:active {
    background-color: $active-bgc;
  }
}