$square-root-2: 1.414;

$base-height: 538px;
$base-animation-height: 84px;

$AH-ratio: $base-animation-height / $base-height; // 0.15613 (unitless)
$AH: $AH-ratio * 100vh;
$AH-fontsize: $AH / 6;

$icon-size: $AH * 0.5 / $square-root-2;
$bd-width: $icon-size/8;
$bd: $bd-width solid #fff;
$scale: 3.5;

.wrap {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .charJump {
    display: inline-block;
    color: #e4e4e4;
    animation: charJump var(--charJumpDuration, 5s) ease-in-out infinite;
    animation-delay: var(--charJumpDelay, 0s);
  }

  .animation {
    height: $AH;
    width: 100%;
    font-size: $AH-fontsize;
    -webkit-text-stroke: 0.01*$AH-fontsize; // 字体描边

    .animationIcon {
      position: relative;
      height: $AH * 1.5;
      width: $AH * 1.5;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: $icon-size;
        height: $icon-size;
        margin-left: -$icon-size / 2;
        margin-top: -$icon-size / 2;
        background: transparent;
        border: $bd;
        transform: rotate(45deg);
      }

      &::after {
        animation: animationIcon var(--animationIconDuration, 1s) ease-in-out infinite;
      }

      .animationText {
        color: #e4e4e4;
      }
    }
  }
}

@keyframes charJump {

  0%,
  40%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-25%);
  }
}

@keyframes animationIcon {
  0% {
    transform: rotate(45deg) scale(1);
    border-width: $bd-width;
  }

  100% {
    transform: rotate(45deg) scale($scale);
    border-width: $bd-width / $scale;
    opacity: 0;
  }
}