@use '@/styles/variables' as *;

$hover-bgc: color-mix(in srgb, $white 3%, $default-bgc);
// $transition: all 0.15s ease-in-out;

.button {
  -webkit-text-stroke: 0;
  background-color: $default-bgc;
  border: $button-border;
  box-shadow: $black 0.1rem 0.2rem 0.5rem;
  cursor: pointer;
  // transition: $transition;

  &:hover {
    background-color: $hover-bgc;
  }

  &:active {
    background-color: $active-bgc;
    color: $active-color;
  }

  &.small {
    font-size: 0.5rem;
    padding: 0.3rem 1.5rem;
  }

  &.large {
    font-size: 0.75rem;
    padding: 0.6rem 2.1rem;
  }
}